services:
  postgres:
    image: 'postgres:latest'
    restart: unless-stopped
    environment:
      - 'POSTGRES_DB=demo_play_db'
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_PASSWORD=Juampi_17'

    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres

volumes:
  pgdata:
